@import 'colors';

body {
  //background-color: $backgroundcolor;
  color: $font-color;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: 300;

  background-image: url(/public/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-lists{
  overflow-x: scroll;
  position: absolute;
  bottom: 0;
  top: 80px;
  right: 0;
  left: 0;
}

.all-container{
  min-height: 100vh;
}

.addlist{
  opacity: 0.7;
}

.addlist:hover{
  opacity: 1;
}

.addlist button{
  font-size: 20px;
  font-weight: 500;
}