$backgroundcolor: white;
$gradientBg: linear-gradient(217deg, #3a4545d6 0%, rgb(9, 14, 15) 100%);

$font-color: black;
$secondary-font-color: #ffffff;


$listColor: #f1f1f1ef;
$itemColor: #ffffff;


$completedItemColor: #cccccc;
$outlineColor: #3a4545d6;