$backgroundcolor: white;
$gradientBg: linear-gradient(90deg, #C74592 0%,  #7b6cfa 100%);
$font-color: white;
$secondary-font-color: black;
$font-highlight: #006BD5;


$listColor: #006BD5;
$itemColor: #bed4eb;
