$backgroundcolor: white;
$gradientBg: linear-gradient(217deg, #232137 0%, #1a1a1a 100%);
$font-color: black;
$secondary-font-color: rgb(255, 255, 255);


$listColor: #f1f1f1;
$itemColor: #ffffff;

$completedItemColor: #4e4e4e